(spawn_rate:0.01,spawn_amount:500,emission_shape:Circle(0.0),lifetime:(1.0,1.0),linear_speed:Some((132.0,0.4)),linear_acceleration:Some((0.0,0.9)),direction:Some(((0.0,0.0),1.0)),angular_speed:Some((0.0,0.1)),angular_acceleration:Some((18.0,0.0)),scale:Some((100.0,0.0)),color:None,gravity_direction:Some(((0.0,0.0),1.0)),gravity_speed:Some((50.0,1.0)),linear_damp:Some((30.0,0.8)),angular_damp:Some((5.0,0.0)),scale_curve:Some((points:[(3.0,0.0,None),(0.0,1.0,Some(QuadraticOut))])),color_curve:Some((points:[((red:0.111932434,green:0.21952616,blue:0.4125426,alpha:1.0),0.2,None),((red:0.014788568,green:0.014788568,blue:0.014788568,alpha:1.0),0.3,None)])))